In [2]:
# Import create_engine
from sqlalchemy import create_engine, inspect, MetaData, Table
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

<center>
      Reporte de videojuegos Sakila Games
</center>

In [3]:
# Create an engine that connects to the gamestop database: engine
engine = create_engine('postgresql://postgres:123456@192.168.100.47/gamestop')
inspector = inspect(engine)
# Print table names
# schemas = inspector.get_schema_names()
# print(inspector.get_table_names())

In [41]:
# Create a metadata object: metadata
metadata = MetaData()

# Reflect census table from the engine: census
game_sales = Table('game_sales', metadata, autoload=True, autoload_with=engine)

# Print game_sales table metadata
# print(repr(game_sales))

# Print the column names
# print(game_sales.columns.keys())

In [33]:
# Create a connection on engine
from matplotlib.pyplot import table
from IPython.display import display, HTML

connection = engine.connect()

# Build select statement for census table: stmt
stmt = "SELECT * FROM game_sales ORDER BY games_sold DESC LIMIT 10"

# Execute the statement and fetch the results: results
results = connection.execute(stmt)
df1 = pd.DataFrame(results.fetchall())
df1.columns = results.keys()
table = """
    <table>
        <thead>
            <tr>
                <th>Juego</th>
                <th>Plataforma</th>
            </tr>
        </thead>
        <tbody>
"""
rows = ""
for _, row in df1.iterrows():
      rows += """
        <tr>
            <td>{game}</td>
            <td>{platform}</td>
        </tr>
      """.format(game = row['game'], platform = row['platform'])


table += rows
table += """
    </tbody>
 </table>
"""
# HTML(table)
df2 = df1[["game", "platform", "games_sold"]].to_string(index=False)
# Print results
print(df2)

                                     game platform games_sold
                       Wii Sports for Wii      Wii      82.90
                Super Mario Bros. for NES      NES      40.24
  Counter-Strike: Global Offensive for PC       PC      40.00
                   Mario Kart Wii for Wii      Wii      37.32
     PLAYERUNKNOWN'S BATTLEGROUNDS for PC       PC      36.60
                         Minecraft for PC       PC      33.15
                Wii Sports Resort for Wii      Wii      33.13
Pokemon Red / Green / Blue Version for GB       GB      31.38
             New Super Mario Bros. for DS       DS      30.80
        New Super Mario Bros. Wii for Wii      Wii      30.30

In [11]:
stmt = """SELECT a.year, round(avg(b.critic_score),2) as avg_critic_score
FROM game_sales as a
LEFT JOIN reviews as b on a.game = b.game
GROUP BY a.year
ORDER BY avg_critic_score desc
LIMIT 10"""
df2 = pd.read_sql_query(stmt, engine)
df3 = df2.to_string(index=False)
print(df3)

 year  avg_critic_score
 1990              9.80
 1992              9.67
 1998              9.32
 2020              9.20
 1993              9.10
 1995              9.07
 2004              9.03
 1982              9.00
 2002              8.99
 1999              8.93

# Critica

In [ ]:
sns.b

# Ventas